

.cmp-property{
display: inline;
}

.cmp-value{
    float: right;;
}

.av-cmp-card{
padding: 2px;
border: 2px solid;
}

.av-cmp-card-winner{
    margin-top: 10px;
    border-color: green;
    box-shadow: 0px 10px 10px 0px;
    transform: scale(1.05)
}

.av-cmp-card-loser{
    border-color: red;
}