.form {
  position: relative;
  width: 100%;
  margin: 20px 0px 10px 0px;
}

.searchInput {
  height: 40px;
  width: 25%;
  margin: auto;
  transition: width 0.5s;
}

.searchInput:focus {
  width: 50%;
}

.searchResults {
  list-style-type: none;
  position: absolute;
  padding: 0;
  margin: 0;
  width: 50%;
  top: 40px;
  left: 25%;
  border-top: 1px solid var(--theme-color);
  border-radius: 0 0 2px 2px;
  box-shadow: 5px 8px 10px grey;
  background-color: white;
  z-index: 10;
}

.searchResultsShow {
  display: block;
}

.searchResultsHide {
  display: none;
}

.searchResults .searchResultItem {
  padding: 4px 8px;
  cursor: pointer;
}

li.searchResultItem:hover {
  background-color: #e3e3e3;
}

.hoveredSearchResultItem {
  background-color: #e3e3e3;
}
